.front-menu
{
    background-image: url(image/background1.jpg);
    
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title-Content
{
    font-size: 50px;
    color:Black;
    text-align: left;
    margin-right: 60%;
    margin-left:20%;
   
    
}

.title-Content-info
{
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    font-size: 25px;
    padding:10px 10px 10px 10px;
    margin-top: 0px;
    
}
.scrollblock
{ 
    margin :  0px 20% 0 20%; 
    position: sticky;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr ;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top: 0; 
    
   
}
.scrollblock-left-inside
{
    display: grid;
    grid-template-rows:50px 50px ;
    justify-items: center;
}

.logoImage
{
   justify-self: center;
   height: 150px;
   width: 150px;
   object-fit: contain;
}
.logo-image
{
    max-height:125px;
    max-width:125px;
    object-fit: contain;
    
}
.inline
{
    display: inline-block;
}
.crollblock-left-destination
{
    font-size: 15px;
    vertical-align: top;
    color:rgb(112, 112, 112); ;
}
.scrollblock-middle
{
    border-style: none none  none dotted;
    border-width:3px;
    grid-template-rows:1fr 1fr ;
    border-color:rgb(118, 118, 118);
    justify-items: center;
}
.scrollblock-middle-calender
{
    height: 20px;
   
    object-fit: contain;
}
.middle
{    
    font-weight: 300px;
    font-size: 20px;
    color:rgb(196, 189, 189);
    vertical-align: top;
    margin-top: 1px;
   
}
.scrollblock-middletimeStay{
    margin-left: 10px;

}
.scrollblock-middle-day{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.findHotel
{
    font-size: 23px;
    height: 80px;
    width:200px;
    border-radius: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
}
.scrollblock-right
{
    justify-self: center;
    margin-top: 5px;
    margin-right: 100px;
}

.SignIn-menu li{
    display: inline-block;
    margin-left: 15px;
    
    
}
.SignIn
{
    float:right;
}
.menuButton{
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 
{opacity: 0;
}
  
.change .bar3 
{
    transform: translate(0, -11px) rotate(45deg);
}
.sub-menu1
{
    display: none;
    
}

.menubar a
{
    text-decoration: none;
    justify-content: center;
    color: black;
}
.menubar ul li{
    list-style-type: none;
    font-size: 17px;
    height:17px;
    width: 180px;
    text-align: center;
    vertical-align: top;
    
}

.sub-menu1, .sub-menu2,.sub-menu3, .sub-menu4
{
    justify-content: center;
}
.menubar1  :hover 
{
    border-color: antiquewhite;
    border-style: block;
    border-bottom: 2px;

} 

.menubar
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 70px;
    justify-content: center;
}


.hide
{
    display:none;
}


.first-menu
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    
}